designs/pages/change_password.json
[
    {
        "id": "sd_9tiIMNoXOixQgAaB",
        "type": "tab",
        "createdDate": "2024-05-15T12:45:46.004Z",
        "label": "change_password",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_Qa3gEQ8XuawZxvmf",
        "type": "OnInit",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_Qa3gEQ8XuawZxvmf",
        "category": "Lifecycle Events",
        "x": 85,
        "y": 60,
        "wires": [
            [
                "sd_T6K84FQUvcDX1YSo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_4QTWai7UHhI5IGma",
        "type": "PageVariables",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "changepasswordForm",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "passwordPattern",
                "typedIpValue": {
                    "type": "literal",
                    "value": "/^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@]).{8,30}$/"
                }
            }
        ],
        "functionName": "sd_4QTWai7UHhI5IGma",
        "category": "Function",
        "x": 345,
        "y": 60,
        "wires": [
            [
                "sd_gCGmtS3KI3uFKwe4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_EKizbmhhiynIcaPQ",
        "type": "PageStart",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Go Back",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 85,
        "y": 180,
        "wires": [
            [
                "sd_PSAf9tcJS5NXhVBp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_PSAf9tcJS5NXhVBp",
        "type": "PageCallService",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_O7BgeFkazhosv8N2",
            "type": "tab",
            "createdDate": "2024-05-14T08:16:55.985Z",
            "label": "common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_jJRXnjTcMQmcijs6",
            "flowName": "goBack"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/common",
        "startName": "goBack",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_PSAf9tcJS5NXhVBp",
        "category": "General",
        "x": 225,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_bXl36kavUNfxNOZt",
        "type": "PageStart",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "pages",
        "nodeType": "start",
        "name": "changePassword",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "changePassword",
        "category": "General",
        "x": 85,
        "y": 300,
        "wires": [
            [
                "sd_wZeVxC9zxbz99etD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_JSAMA1ZV6YjMOc7j",
        "type": "UseDependency",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_JSAMA1ZV6YjMOc7j",
        "category": "Function",
        "x": 245,
        "y": 60,
        "wires": [
            [
                "sd_4QTWai7UHhI5IGma"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_T6K84FQUvcDX1YSo",
        "type": "Storage",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "loggedInUser"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "loggedInUser"
        },
        "functionName": "sd_T6K84FQUvcDX1YSo",
        "category": "Storage",
        "x": 165,
        "y": 60,
        "wires": [
            [
                "sd_JSAMA1ZV6YjMOc7j"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_gCGmtS3KI3uFKwe4",
        "type": "Script",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.changepasswordForm = new FormGroup ({\n    old: new FormControl('', [Validators.required]),\n    password: new FormControl('', [Validators.required, Validators.pattern(page.passwordPattern)]),\n    confirmPassword: new FormControl('', [Validators.required, Validators.pattern(page.passwordPattern)])\n})\n\nconsole.log(page.changepasswordForm.value)\nconsole.log(page.changepasswordForm.controls)\n",
        "functionName": "sd_gCGmtS3KI3uFKwe4",
        "category": "Function",
        "x": 445,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_wZeVxC9zxbz99etD",
        "type": "Script",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(bh.input.form.value)",
        "functionName": "sd_wZeVxC9zxbz99etD",
        "category": "Function",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "sd_0rpSxeoMAgfhyj4O"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_0rpSxeoMAgfhyj4O",
        "type": "PageSwitch",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.password",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.password",
        "rules": [
            {
                "t": "se",
                "v": "form.confirmPassword",
                "vt": "bh.input",
                "gv": "bh.input.form.confirmPassword"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_0rpSxeoMAgfhyj4O",
        "category": "Function",
        "x": 280,
        "y": 300,
        "wires": [
            [
                "sd_zINmjn5NqMGljPrc"
            ],
            [
                "sd_CIwyaWdJ4VNO8be2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_zINmjn5NqMGljPrc",
        "type": "Script",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"is vaar\")",
        "functionName": "sd_zINmjn5NqMGljPrc",
        "category": "Function",
        "x": 380,
        "y": 260,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_CIwyaWdJ4VNO8be2",
        "type": "Script",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"is not vaar\")",
        "functionName": "sd_CIwyaWdJ4VNO8be2",
        "category": "Function",
        "x": 385,
        "y": 340,
        "wires": [
            [
                "sd_oJ9MgN1Vhm8TrRHM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_oJ9MgN1Vhm8TrRHM",
        "type": "SnackBar",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Passwords don't match"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "5000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_oJ9MgN1Vhm8TrRHM",
        "category": "General",
        "x": 480,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    }
]
