designs/pages/change_password2.json
[
    {
        "id": "sd_GbRG9zRS8yjl75LL",
        "type": "tab",
        "createdDate": "2024-06-04T08:55:55.697Z",
        "label": "change_password2",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "change_password2Component"
    },
    {
        "id": "sd_wt9z5WYo6fgGOUM6",
        "type": "PageStart",
        "z": "sd_GbRG9zRS8yjl75LL",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Go Back",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 36,
        "y": 147.8020782470703,
        "wires": [
            [
                "sd_NJLoRNdTFbFuMuGn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_password2Component"
    },
    {
        "id": "sd_NJLoRNdTFbFuMuGn",
        "type": "PageCallService",
        "z": "sd_GbRG9zRS8yjl75LL",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_O7BgeFkazhosv8N2",
            "type": "tab",
            "createdDate": "2024-05-14T08:16:55.985Z",
            "label": "common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_jJRXnjTcMQmcijs6",
            "flowName": "goBack"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/common",
        "startName": "goBack",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_NJLoRNdTFbFuMuGn",
        "category": "General",
        "x": 176,
        "y": 147.8020782470703,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_password2Component",
        "generated": true
    },
    {
        "id": "sd_QwcYFtNP1EFjZFj6",
        "type": "OnInit",
        "z": "sd_GbRG9zRS8yjl75LL",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_QwcYFtNP1EFjZFj6",
        "category": "Lifecycle Events",
        "x": 71,
        "y": 51.80208206176758,
        "wires": [
            [
                "sd_CMWptT0fhhJepiwG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_password2Component"
    },
    {
        "id": "sd_QMsn55kIMtHvV9Dc",
        "type": "PageVariables",
        "z": "sd_GbRG9zRS8yjl75LL",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "changepasswordForm",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "passwordPattern",
                "typedIpValue": {
                    "type": "literal",
                    "value": "/^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@]).{8,30}$/"
                }
            }
        ],
        "functionName": "sd_QMsn55kIMtHvV9Dc",
        "category": "Function",
        "x": 331,
        "y": 51.80208206176758,
        "wires": [
            [
                "sd_NZeG9pkqJCcwcdw5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_password2Component",
        "generated": true
    },
    {
        "id": "sd_dGzjxXXq1kSNBIQd",
        "type": "UseDependency",
        "z": "sd_GbRG9zRS8yjl75LL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_dGzjxXXq1kSNBIQd",
        "category": "Function",
        "x": 231,
        "y": 51.80208206176758,
        "wires": [
            [
                "sd_QMsn55kIMtHvV9Dc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_password2Component",
        "generated": true
    },
    {
        "id": "sd_CMWptT0fhhJepiwG",
        "type": "Storage",
        "z": "sd_GbRG9zRS8yjl75LL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "userDetails"
        },
        "functionName": "sd_CMWptT0fhhJepiwG",
        "category": "Storage",
        "x": 151,
        "y": 51.80208206176758,
        "wires": [
            [
                "sd_dGzjxXXq1kSNBIQd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_password2Component",
        "generated": true
    },
    {
        "id": "sd_zdtUYVHfIuAWlRoA",
        "type": "Script",
        "z": "sd_GbRG9zRS8yjl75LL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.changepasswordForm = new FormGroup ({\n    old: new FormControl('', [Validators.required]),\n    password: new FormControl('', [Validators.required, Validators.pattern(page.passwordPattern)]),\n    confirmPassword: new FormControl('', [Validators.required, Validators.pattern(page.passwordPattern)])\n})\n\n\nconsole.log(\"stoargeee:\", page.userDetails)",
        "functionName": "sd_zdtUYVHfIuAWlRoA",
        "category": "Function",
        "x": 531,
        "y": 51.80208206176758,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_password2Component",
        "generated": true
    },
    {
        "id": "sd_NZeG9pkqJCcwcdw5",
        "type": "PageServiceVariables",
        "z": "sd_GbRG9zRS8yjl75LL",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "get",
        "globalVariables": [
            {
                "textIp": "email",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "email"
                }
            }
        ],
        "functionName": "sd_NZeG9pkqJCcwcdw5",
        "service": {
            "id": "sd_O7BgeFkazhosv8N2",
            "type": "tab",
            "createdDate": "2024-05-14T08:16:55.985Z",
            "label": "common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client",
            "generateNext": true,
            "serviceName": "common",
            "relativeParentPath": "",
            "_def": {
                "defaults": {
                    "label": {
                        "value": ""
                    },
                    "disabled": {
                        "value": false
                    },
                    "info": {
                        "value": ""
                    }
                }
            }
        },
        "serviceImportPath": "app/sd-services/common",
        "category": "Function",
        "x": 431,
        "y": 51.80208206176758,
        "wires": [
            [
                "sd_zdtUYVHfIuAWlRoA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_password2Component",
        "generated": true
    },
    {
        "id": "sd_mRU5Me3WOJaqeJFO",
        "type": "PageStart",
        "z": "sd_GbRG9zRS8yjl75LL",
        "viewType": "pages",
        "nodeType": "start",
        "name": "",
        "outputs": 1,
        "flow_type": "sync",
        "functionName": "sd_mRU5Me3WOJaqeJFO",
        "category": "General",
        "x": 80,
        "y": 320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_password2Component"
    }
]
