designs/pages/change_password.json
[
    {
        "id": "sd_9tiIMNoXOixQgAaB",
        "type": "tab",
        "createdDate": "2024-05-15T12:45:46.004Z",
        "label": "change_password",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_Qa3gEQ8XuawZxvmf",
        "type": "OnInit",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_Qa3gEQ8XuawZxvmf",
        "category": "Lifecycle Events",
        "x": 85,
        "y": 60,
        "wires": [
            [
                "sd_T6K84FQUvcDX1YSo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_4QTWai7UHhI5IGma",
        "type": "PageVariables",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "changepasswordForm",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "passwordPattern",
                "typedIpValue": {
                    "type": "literal",
                    "value": "/^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@]).{8,30}$/"
                }
            }
        ],
        "functionName": "sd_4QTWai7UHhI5IGma",
        "category": "Function",
        "x": 345,
        "y": 60,
        "wires": [
            [
                "sd_JmAzaumQzsqtdBXO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_EKizbmhhiynIcaPQ",
        "type": "PageStart",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Go Back",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 85,
        "y": 180,
        "wires": [
            [
                "sd_PSAf9tcJS5NXhVBp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_PSAf9tcJS5NXhVBp",
        "type": "PageCallService",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_O7BgeFkazhosv8N2",
            "type": "tab",
            "createdDate": "2024-05-14T08:16:55.985Z",
            "label": "common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_jJRXnjTcMQmcijs6",
            "flowName": "goBack"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/common",
        "startName": "goBack",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_PSAf9tcJS5NXhVBp",
        "category": "General",
        "x": 225,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_bXl36kavUNfxNOZt",
        "type": "PageStart",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "pages",
        "nodeType": "start",
        "name": "changePassword",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "changePassword",
        "category": "General",
        "x": 65,
        "y": 380,
        "wires": [
            [
                "sd_wZeVxC9zxbz99etD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_JSAMA1ZV6YjMOc7j",
        "type": "UseDependency",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_JSAMA1ZV6YjMOc7j",
        "category": "Function",
        "x": 245,
        "y": 60,
        "wires": [
            [
                "sd_4QTWai7UHhI5IGma"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_T6K84FQUvcDX1YSo",
        "type": "Storage",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "userDetails"
        },
        "functionName": "sd_T6K84FQUvcDX1YSo",
        "category": "Storage",
        "x": 165,
        "y": 60,
        "wires": [
            [
                "sd_JSAMA1ZV6YjMOc7j"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_gCGmtS3KI3uFKwe4",
        "type": "Script",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.changepasswordForm = new FormGroup ({\n    old: new FormControl('', [Validators.required]),\n    password: new FormControl('', [Validators.required, Validators.pattern(page.passwordPattern)]),\n    confirmPassword: new FormControl('', [Validators.required, Validators.pattern(page.passwordPattern)])\n})\n\n\nconsole.log(\"stoargeee:\", page.userDetails)",
        "functionName": "sd_gCGmtS3KI3uFKwe4",
        "category": "Function",
        "x": 545,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_wZeVxC9zxbz99etD",
        "type": "Script",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// console.log(bh.input.form.value)",
        "functionName": "sd_wZeVxC9zxbz99etD",
        "category": "Function",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "sd_0rpSxeoMAgfhyj4O"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_0rpSxeoMAgfhyj4O",
        "type": "PageSwitch",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.password",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.password",
        "rules": [
            {
                "t": "se",
                "v": "form.confirmPassword",
                "vt": "bh.input",
                "gv": "bh.input.form.confirmPassword"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_0rpSxeoMAgfhyj4O",
        "category": "Function",
        "x": 245,
        "y": 380,
        "wires": [
            [
                "sd_EuyxGK5TvPu050Eq"
            ],
            [
                "sd_oJ9MgN1Vhm8TrRHM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_oJ9MgN1Vhm8TrRHM",
        "type": "SnackBar",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Passwords don't match"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "5000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_oJ9MgN1Vhm8TrRHM",
        "category": "General",
        "x": 345,
        "y": 480,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_t6SNhVnhKTR8ZnUF",
        "type": "PageSwitch",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "changepasswordForm.get('old').value.length",
        "propertyType": "this.page",
        "propertyGv": "this.page.changepasswordForm.get('old').value.length",
        "rules": [
            {
                "t": "eq",
                "v": "4",
                "vt": "literal",
                "gv": "4"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_t6SNhVnhKTR8ZnUF",
        "category": "Function",
        "x": 665,
        "y": 540,
        "wires": [
            [
                "sd_KtfrsSXXmMoy9okX"
            ],
            [
                "sd_fbva5om2rtf1yJE9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_otQiBTghFS1hOZcv",
        "type": "Navigation",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/home",
        "functionName": "sd_otQiBTghFS1hOZcv",
        "category": "Navigation",
        "x": 1745,
        "y": 400,
        "wires": [
            [
                "sd_shJ1XeCcDlGKGCTm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_KtfrsSXXmMoy9okX",
        "type": "PageSwitch",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "changepasswordForm.get('old').value",
        "propertyType": "this.page",
        "propertyGv": "this.page.changepasswordForm.get('old').value",
        "rules": [
            {
                "t": "eq",
                "v": "userDetails.OTP",
                "vt": "this.page",
                "gv": "this.page.userDetails.OTP"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_KtfrsSXXmMoy9okX",
        "category": "Function",
        "x": 805,
        "y": 440,
        "wires": [
            [],
            [
                "sd_IKFG84SSpiQTugsM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_IKFG84SSpiQTugsM",
        "type": "SnackBar",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Old Password Incorrect"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "5000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_IKFG84SSpiQTugsM",
        "category": "General",
        "x": 1025,
        "y": 500,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_1jyXJszl614rV3rG",
        "type": "Environment",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_1jyXJszl614rV3rG",
        "category": "General",
        "x": 1185,
        "y": 380,
        "wires": [
            [
                "sd_1AVRQgFw3BXtxZ4Y"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_1AVRQgFw3BXtxZ4Y",
        "type": "Script",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.input.body = {\n    email: page.email,\n    password: bh.input.form.controls.password.value,\n    collection: 'users'\n};\n\n// bh.user = {\n//     email: page.email,\n//     password: page.userDetails.password,\n//     collection: 'users'\n\n// };\n\nbh.user = {\n    email: page.email,\n    collection: 'users'\n}\n\nbh.url = page.ssdUrl + 'update';\nbh.url2 = page.ssdUrl + `get-user/${page.email}`;\n",
        "functionName": "sd_1AVRQgFw3BXtxZ4Y",
        "category": "Function",
        "x": 1325,
        "y": 400,
        "wires": [
            [
                "sd_Q7RTkWRi2m8nQSpJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_Q7RTkWRi2m8nQSpJ",
        "type": "HttpRequest",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "put",
        "methodMappingObj": {},
        "urlMapping": "bh.url2",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url2"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.input.body",
        "reqBodyObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.results",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "results"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_Q7RTkWRi2m8nQSpJ",
        "category": "HTTP",
        "x": 1425,
        "y": 400,
        "wires": [
            [
                "sd_0q9wWfz8RahPc9Ie"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_shJ1XeCcDlGKGCTm",
        "type": "Script",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page.result)",
        "functionName": "sd_shJ1XeCcDlGKGCTm",
        "category": "Function",
        "x": 1855,
        "y": 400,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_1lENhKmgE6g1QV8s",
        "type": "Storage",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {
            "type": "this.page",
            "value": "userDetails"
        },
        "resultMapping": {},
        "functionName": "sd_1lENhKmgE6g1QV8s",
        "category": "Storage",
        "x": 1725,
        "y": 400,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_0q9wWfz8RahPc9Ie",
        "type": "HttpRequest",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.user",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "user"
        },
        "resultMapping": "this.page.userDetails",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "userDetails"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_0q9wWfz8RahPc9Ie",
        "category": "HTTP",
        "x": 1545,
        "y": 400,
        "wires": [
            [
                "sd_s55u8EjLow6wm40s"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_s55u8EjLow6wm40s",
        "type": "Script",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"results:\", page.results)\n// console.log(\"result:\", page.userDetails)\nconsole.log(\"page.userDetails 2nd url:\", page.userDetails)\n// console.log(bh.input.body.password)",
        "functionName": "sd_s55u8EjLow6wm40s",
        "category": "Function",
        "x": 1625,
        "y": 400,
        "wires": [
            [
                "sd_1lENhKmgE6g1QV8s"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_JmAzaumQzsqtdBXO",
        "type": "PageServiceVariables",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "get",
        "globalVariables": [
            {
                "textIp": "email",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "email"
                }
            }
        ],
        "functionName": "sd_JmAzaumQzsqtdBXO",
        "service": {
            "id": "sd_O7BgeFkazhosv8N2",
            "type": "tab",
            "createdDate": "2024-05-14T08:16:55.985Z",
            "label": "common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client",
            "generateNext": true,
            "serviceName": "common",
            "relativeParentPath": "",
            "_def": {
                "defaults": {
                    "label": {
                        "value": ""
                    },
                    "disabled": {
                        "value": false
                    },
                    "info": {
                        "value": ""
                    }
                }
            }
        },
        "serviceImportPath": "app/sd-services/common",
        "category": "Function",
        "x": 445,
        "y": 60,
        "wires": [
            [
                "sd_gCGmtS3KI3uFKwe4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_fbva5om2rtf1yJE9",
        "type": "PageSwitch",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "userDetails.password.value",
        "propertyType": "this.page",
        "propertyGv": "this.page.userDetails.password.value",
        "rules": [
            {
                "t": "eq",
                "v": "changepasswordForm.get('old').value",
                "vt": "this.page",
                "gv": "this.page.changepasswordForm.get('old').value"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_fbva5om2rtf1yJE9",
        "category": "Function",
        "x": 825,
        "y": 640,
        "wires": [
            [
                "sd_Eb00KjdUuycwhN5i"
            ],
            [
                "sd_lkHOLU1vDaelQMAH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_Eb00KjdUuycwhN5i",
        "type": "Script",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"is vaaar\")",
        "functionName": "sd_Eb00KjdUuycwhN5i",
        "category": "Function",
        "x": 1000,
        "y": 600,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_lkHOLU1vDaelQMAH",
        "type": "Script",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"is nottt vaaar\")",
        "functionName": "sd_lkHOLU1vDaelQMAH",
        "category": "Function",
        "x": 1005,
        "y": 700,
        "wires": [
            [
                "sd_SHPkXvUdWHpLH8FC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_SHPkXvUdWHpLH8FC",
        "type": "SnackBar",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Old password incorrect"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "5000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_SHPkXvUdWHpLH8FC",
        "category": "General",
        "x": 1100,
        "y": 700,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_MoSHVT7DaYRwqwnC",
        "type": "PageSwitch",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "changepasswordForm.get('old').value",
        "propertyType": "this.page",
        "propertyGv": "this.page.changepasswordForm.get('old').value",
        "rules": [
            {
                "t": "eq",
                "v": "userDetails.password",
                "vt": "this.page",
                "gv": "this.page.userDetails.password"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_MoSHVT7DaYRwqwnC",
        "category": "Function",
        "x": 885,
        "y": 80,
        "wires": [
            [
                "sd_fP5ffyE9BLy93L2r"
            ],
            [
                "sd_TFdZvTvP1FCg2CJ4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_TFdZvTvP1FCg2CJ4",
        "type": "SnackBar",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Old Password Incorrect"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "5000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_TFdZvTvP1FCg2CJ4",
        "category": "General",
        "x": 1045,
        "y": 140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_fP5ffyE9BLy93L2r",
        "type": "Script",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"dis reg\")",
        "functionName": "sd_fP5ffyE9BLy93L2r",
        "category": "Function",
        "x": 1025,
        "y": 20,
        "wires": [
            [
                "sd_1jyXJszl614rV3rG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_dckV9ypMEMZyOsep",
        "type": "Environment",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_dckV9ypMEMZyOsep",
        "category": "General",
        "x": 425,
        "y": 340,
        "wires": [
            [
                "sd_uWWnklG2ibjg9XuL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_uWWnklG2ibjg9XuL",
        "type": "Script",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.input.body = {\n    email: page.userDetails.email,\n    password: bh.input.form.controls.old.value\n};\n\nbh.user = {\n    email: page.userDetails.email,\n    password: bh.input.form.controls.password.value,\n    collection: 'users'\n};\n\n// bh.user = {\n//     email: page.userDetails.email,\n//     collection: 'users'\n// }\n\n\nbh.url3 = page.ssdUrl + 'verify-password';\nbh.url = page.ssdUrl + 'change-password';\n// bh.url2 = page.ssdUrl + `get-user/${page.email}`;\n",
        "functionName": "sd_uWWnklG2ibjg9XuL",
        "category": "Function",
        "x": 520,
        "y": 340,
        "wires": [
            [
                "sd_mK4EznT8GjmJzX7H"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_mK4EznT8GjmJzX7H",
        "type": "HttpRequest",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMappingObj": {},
        "urlMapping": "bh.url3",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url3"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.input.body",
        "reqBodyObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "body"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_mK4EznT8GjmJzX7H",
        "category": "HTTP",
        "x": 620,
        "y": 340,
        "wires": [
            [
                "sd_Kzf3X102ixxPwbJs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_EuyxGK5TvPu050Eq",
        "type": "PageSwitch",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "changepasswordForm.get('old').value.length",
        "propertyType": "this.page",
        "propertyGv": "this.page.changepasswordForm.get('old').value.length",
        "rules": [
            {
                "t": "eq",
                "v": "4",
                "vt": "literal",
                "gv": "4"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_EuyxGK5TvPu050Eq",
        "category": "Function",
        "x": 325,
        "y": 320,
        "wires": [
            [],
            [
                "sd_dckV9ypMEMZyOsep"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_Kzf3X102ixxPwbJs",
        "type": "HttpRequest",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "put",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.user",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "user"
        },
        "resultMapping": "this.page.userDetails",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "userDetails"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_Kzf3X102ixxPwbJs",
        "category": "HTTP",
        "x": 725,
        "y": 340,
        "wires": [
            [
                "sd_l5s2rLcTke4wvwLJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_vtXD73efgrIZDkT4",
        "type": "Script",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"results:\", bh.result)\n// console.log(\"result:\", page.userDetails)\n\nconsole.log(\"page.userDetails 23nd url:\", page.userDetails)\n// console.log(bh.input.body.password)",
        "functionName": "sd_vtXD73efgrIZDkT4",
        "category": "Function",
        "x": 985,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_l5s2rLcTke4wvwLJ",
        "type": "Storage",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "userDetails"
        },
        "functionName": "sd_l5s2rLcTke4wvwLJ",
        "category": "Storage",
        "x": 885,
        "y": 340,
        "wires": [
            [
                "sd_vtXD73efgrIZDkT4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    }
]
