designs/pages/forgot_password.json
[
    {
        "id": "sd_E8jO8WvzPInznq4t",
        "type": "tab",
        "createdDate": "2024-05-21T13:49:13.305Z",
        "label": "forgot_password",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "forgot_passwordComponent"
    },
    {
        "id": "sd_4pxV0wPLRVKGHsKt",
        "type": "OnInit",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_4pxV0wPLRVKGHsKt",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 60,
        "wires": [
            [
                "sd_tccPHs4fcoYfU5Zd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "forgot_passwordComponent"
    },
    {
        "id": "sd_tccPHs4fcoYfU5Zd",
        "type": "PageVariables",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "userDetails",
                "typedIpValue": {
                    "type": "literal",
                    "value": "{ email: ''}"
                }
            },
            {
                "textIp": "emailPattern",
                "typedIpValue": {
                    "type": "literal",
                    "value": "/^[^\\s@]+@([^\\s@.,]+\\.)+[^\\s@.,]{2,}$/"
                }
            },
            {
                "textIp": "submitted",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_tccPHs4fcoYfU5Zd",
        "category": "Function",
        "x": 165,
        "y": 60,
        "wires": [
            [
                "sd_GTWLLiw6tkF425qr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_WG47W2INBwfKPERH",
        "type": "PageStart",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Go Back",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 45,
        "y": 160,
        "wires": [
            [
                "sd_wlYZC1PPM455h8mN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "forgot_passwordComponent"
    },
    {
        "id": "sd_wlYZC1PPM455h8mN",
        "type": "PageCallService",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_O7BgeFkazhosv8N2",
            "type": "tab",
            "createdDate": "2024-05-14T08:16:55.985Z",
            "label": "common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_jJRXnjTcMQmcijs6",
            "flowName": "goBack"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/common",
        "startName": "goBack",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_wlYZC1PPM455h8mN",
        "category": "General",
        "x": 165,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_sKJ4EVPTNuClAKte",
        "type": "PageStart",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submit",
        "category": "General",
        "x": 45,
        "y": 280,
        "wires": [
            [
                "sd_nAnCruwWwmT2U6S6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "forgot_passwordComponent"
    },
    {
        "id": "sd_nAnCruwWwmT2U6S6",
        "type": "PageSwitch",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.valid",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_nAnCruwWwmT2U6S6",
        "category": "Function",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "sd_CMEjWYscrjevbYPX"
            ],
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_CMEjWYscrjevbYPX",
        "type": "PageCallService",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_O7BgeFkazhosv8N2",
            "type": "tab",
            "createdDate": "2024-05-14T08:16:55.985Z",
            "label": "common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_7URbVYjuQh1rrIFw",
            "flowName": "generateRandomNumber"
        },
        "inputVariables": [
            {
                "key": "email",
                "map": true,
                "valueType": "this.page",
                "value": "userDetails.email"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "random",
                "valueType": "this.page",
                "value": "random",
                "mapVarName": "random",
                "localVar": "this.page.random"
            }
        ],
        "serviceImportPath": "app/sd-services/common",
        "startName": "generateRandomNumber",
        "inputParams": [
            "this.page.userDetails.email"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_CMEjWYscrjevbYPX",
        "category": "General",
        "x": 265,
        "y": 240,
        "wires": [
            [
                "sd_l8TMBTNL3K4xZtdP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_l8TMBTNL3K4xZtdP",
        "type": "Environment",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_l8TMBTNL3K4xZtdP",
        "category": "General",
        "x": 365,
        "y": 240,
        "wires": [
            [
                "sd_LSh7NpWWTjA7NlY6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_LSh7NpWWTjA7NlY6",
        "type": "Script",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.body = {\n    email: page.userDetails.email,\n    code: page.random,\n};\n\nbh.url = page.ssdUrl + 'forgot-password';\n\nconsole.log(\"form:\", page.forgotPassword)",
        "functionName": "sd_LSh7NpWWTjA7NlY6",
        "category": "Function",
        "x": 460,
        "y": 240,
        "wires": [
            [
                "sd_8vELHlSQYJthK1VQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_8vELHlSQYJthK1VQ",
        "type": "HttpRequest",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMappingObj": {},
        "urlMapping": "this.page.url",
        "urlMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.body",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_8vELHlSQYJthK1VQ",
        "category": "HTTP",
        "x": 560,
        "y": 240,
        "wires": [
            [
                "sd_rT7Iv9cm3h7pEb8y"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_rT7Iv9cm3h7pEb8y",
        "type": "Navigation",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/verify-code",
        "functionName": "sd_rT7Iv9cm3h7pEb8y",
        "category": "Navigation",
        "x": 665,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_GTWLLiw6tkF425qr",
        "type": "Script",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.forgotPassword = page.userDetails;",
        "functionName": "sd_GTWLLiw6tkF425qr",
        "category": "Function",
        "x": 280,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    }
]
