designs/pages/features/buy_electricity.json
[
    {
        "id": "sd_zfSgx6DaziJIt7ws",
        "type": "tab",
        "createdDate": "2024-05-16T06:14:36.802Z",
        "label": "buy_electricity",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "buy_electricityComponent"
    },
    {
        "id": "sd_ZwPp3oGDVg1iIWd4",
        "type": "OnInit",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_ZwPp3oGDVg1iIWd4",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_WflFAq94qqVyQOV6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "buy_electricityComponent"
    },
    {
        "id": "sd_WflFAq94qqVyQOV6",
        "type": "PageVariables",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_WflFAq94qqVyQOV6",
        "category": "Function",
        "x": 180,
        "y": 30,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_electricityComponent",
        "generated": true
    },
    {
        "id": "sd_wTwI5KXp8W9baa6R",
        "type": "PageStart",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "pages",
        "nodeType": "start",
        "name": "go back",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 45,
        "y": 280,
        "wires": [
            [
                "sd_PWsTbDR05jXbzKTy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "buy_electricityComponent"
    },
    {
        "id": "sd_YWfVfFZvLk9wAyQu",
        "type": "Script",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.location.back()\n",
        "functionName": "sd_YWfVfFZvLk9wAyQu",
        "category": "Function",
        "x": 300,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_electricityComponent",
        "generated": true
    },
    {
        "id": "sd_PWsTbDR05jXbzKTy",
        "type": "UseDependency",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "Location",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "location"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/common",
        "serviceDesignerType": "pages",
        "functionName": "sd_PWsTbDR05jXbzKTy",
        "category": "Function",
        "x": 165,
        "y": 280,
        "wires": [
            [
                "sd_YWfVfFZvLk9wAyQu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_electricityComponent",
        "generated": true
    }
]
