designs/pages/features/buy_airtime.json
[
    {
        "id": "sd_bMbO2PhrGXVJB4Gr",
        "type": "tab",
        "createdDate": "2024-05-16T06:09:40.788Z",
        "label": "buy_airtime",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "buy_airtimeComponent"
    },
    {
        "id": "sd_ZZCCD4XQxjJfthGg",
        "type": "OnInit",
        "z": "sd_bMbO2PhrGXVJB4Gr",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_ZZCCD4XQxjJfthGg",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_4NC0TDgF3SEBdfuA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "buy_airtimeComponent"
    },
    {
        "id": "sd_4NC0TDgF3SEBdfuA",
        "type": "PageVariables",
        "z": "sd_bMbO2PhrGXVJB4Gr",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_4NC0TDgF3SEBdfuA",
        "category": "Function",
        "x": 180,
        "y": 30,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_airtimeComponent",
        "generated": true
    },
    {
        "id": "sd_LTy3CWsnZ9UizG6e",
        "type": "PageStart",
        "z": "sd_bMbO2PhrGXVJB4Gr",
        "viewType": "pages",
        "nodeType": "start",
        "name": "go back",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 105,
        "y": 180,
        "wires": [
            [
                "sd_j55ERgRoolysVKZS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "buy_airtimeComponent"
    },
    {
        "id": "sd_msWMqvIgmEBP5672",
        "type": "Script",
        "z": "sd_bMbO2PhrGXVJB4Gr",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.location.back()\n",
        "functionName": "sd_msWMqvIgmEBP5672",
        "category": "Function",
        "x": 325,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_airtimeComponent",
        "generated": true
    },
    {
        "id": "sd_j55ERgRoolysVKZS",
        "type": "UseDependency",
        "z": "sd_bMbO2PhrGXVJB4Gr",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "Location",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "location"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/common",
        "serviceDesignerType": "pages",
        "functionName": "sd_j55ERgRoolysVKZS",
        "category": "Function",
        "x": 225,
        "y": 180,
        "wires": [
            [
                "sd_msWMqvIgmEBP5672"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_airtimeComponent",
        "generated": true
    }
]
