designs/pages/features/pay.json
[
    {
        "id": "sd_EPI84HNraRNITcfQ",
        "type": "tab",
        "createdDate": "2024-05-17T06:49:47.062Z",
        "label": "pay",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "payComponent"
    },
    {
        "id": "sd_6GhdTfAuBFE9oMiE",
        "type": "OnInit",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_6GhdTfAuBFE9oMiE",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_TM2efpdTAp96dBd6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "payComponent"
    },
    {
        "id": "sd_TM2efpdTAp96dBd6",
        "type": "PageVariables",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_TM2efpdTAp96dBd6",
        "category": "Function",
        "x": 180,
        "y": 30,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_mdqDUC8ULYpYbes1",
        "type": "PageStart",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "pages",
        "nodeType": "start",
        "name": "go back",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 345,
        "y": 40,
        "wires": [
            [
                "sd_1EOLIrXTI0AkSa1Z"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "payComponent"
    },
    {
        "id": "sd_bmX0GiQp6NaZ3grS",
        "type": "Script",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.location.back()\n",
        "functionName": "sd_bmX0GiQp6NaZ3grS",
        "category": "Function",
        "x": 600,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_1EOLIrXTI0AkSa1Z",
        "type": "UseDependency",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "Location",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "location"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/common",
        "serviceDesignerType": "pages",
        "functionName": "sd_1EOLIrXTI0AkSa1Z",
        "category": "Function",
        "x": 465,
        "y": 40,
        "wires": [
            [
                "sd_bmX0GiQp6NaZ3grS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    }
]
